.login-wrapper {
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: -180px;

  .app-title {
    margin-top: 10px;
  }
}
.descripton-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 170px;
  margin-bottom: -140px;
  color: gray;
  margin-left: 10px;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -480px;

  .fields-field-style {
    width: 330px;
    font-size: 16px;

    .login-input-style {
      height: 40px;
      color: black;
      font-size: 15px;
    }
  }
  .login-form-button {
    width: 330px;
    height: 40px;
    font-size: 16px;
  }
}
