.not-found-oops {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #18bc51;
  font-size: 500%;
  margin-top: 50px;
}

.not-found-404 {
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 400%;
  margin-top: 60px;
}

.octo-cat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 20%;
}

.go-home-button {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  border-color: #18bc51;
  color: #18bc51;
  margin-top: 50px;
}

.go-home-button:hover {
  border-color: #18bc51;
  color: white;
  background-color: #18bc51;
}

.go-home-button:focus {
  border-color: #18bc51;
}
