.appView-container {
  .site-page-header {
    box-shadow: rgba(17, 17, 26, 0.1) 270px 1px 0px;
  }
  .menu-container {
    display: flex;
    width: 250px;
    height: 100vh;
    color: black;
    margin-top: 5px;
    width: 18%;
  }
}
